{% extends 'base.html' %}
{% load static %}
{%  block stylesheet %}
<style>
    body,html{
      height: 100%;
      margin: 0;
      font-size: 100%;
    }
   .container {
    min-height:100%;
    margin: 0 auto;
}

.content
{
    width: 900px;
    margin: 0 auto;
    height: auto;
    display: flex;
}

.main {
    height: auto;
    padding: 0px 10px;
}

.image img{
    height: 270px;
}

.image1 img{
    width: 590px;
    height: 300px;
}

.icon{
    display: inline-block;
    padding-right: 10px;
}

.icon img {
    width: 30px;
    height: 30px;
}

.name {
    color: gray;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 10px;
}

.hashtag {
    color: blue;
    margin-bottom: 10px;
}

.note {
    font-weight: bold;
    font-size: 15px;
    margin: 10px auto;
}

.link {
    color: green;;
    font-size: 15px;
}

.link a {
    margin-bottom: 5px;
    display: block;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        <div class="main">
            <h1>Đề bài tháng thử thách ban Chuyên Môn</h1> <!-- Title -->
            <!-- Content -->
            Một số lưu ý:
            - Tháng thử dành cho các CTV của câu lạc bộ JS kéo dài từ khoảng 7/1 -> 12/3.
            - Trong thời gian thử thách, tất cả CTV được yêu cầu tham gia tất cả các sự kiện do CTV ban khác tổ chức. Tinh thần tham gia của tất cả các bạn sẽ được CLB theo dõi.
            - Mỗi team sẽ có 1 takecare và 1 mentor. Mentor là người hỗ trợ các bạn trong vấn đề chuyên môn. Takecare là người theo sát, là cầu nối giữa team bạn và CLB.
            - Với mỗi buổi họp của team, phải có biên bản họp và phải nộp biên bản họp cho takecare ngay sau buổi họp, form biên bản họp được để trong folder Files
            <br><br>
            <!-- Silde and Bt -->
            <div class="link">
                Slide:<a href="#">https://meet.google.com/</a>
                Bài tập:<a href="#">https://meet.google.com/</a>
            </div>
            <!-- Date : lịch, nbd, nkt -->
            <div class="note">
                Lịch học : T2, T4, T6
            </div>
            <div class="note">
                Ngày bắt đầu : 01/01/2020
            </div>
            <div class="note">
                Ngày kết thúc: 03/03/2020
            </div>
        </div>
    </div>
</div>
{% endblock %}