{% extends 'base.html' %}
{% block stylesheet %}

{% endblock %}
{% block content %}
<style>
    .box {
        border-radius: 10px;
        box-shadow: 2px 2px gray;
        box-shadow: inset;
        margin-top: 50px;
        margin-left: 40px;
        margin-bottom: 40px;
        margin-right: 40px;
        background-color: #ecd59f;
    }

    .box label {
        margin-left: 20px;
    }

    .box input {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .box input[type='text'] {
        width: 1200px;
    }

    .box h1 {
        text-align: center;
        margin-top: 20px;
    }

    .box textarea {
        margin-left: 20px;
        width: 1200px;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
    }

    .btn-primary {
        background-color: #6ec6ca;
    }

    .btn-primary:hover {
        background-color: #0b979d;
    }

    .box p {
        display: inline-block;
        overflow-x: auto;
        word-break: break-all;
    }
</style>

{% if error %}
{{ error }}
<br>
<br>
{% endif %}
<div class='box'>
    <form method="POST" action={% url 'createconfession' %}>
        {% csrf_token %}
        <h1>Create Confession</h1>
        <label>Title :</label>
        <br>
        <input type="text" name="title">
        <br>
        <label>Body:</label>
        <br>
        <form>
            <textarea name="body">Some text...</textarea>
        </form>
        <br>
        <label>Anonynous:</label>
        <input type="checkbox" name="anonymous">
        <br>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
{% endblock %}